[profile.default]
src = "contracts/src"
out = "out"
libs = ["contracts/lib"]
solc_version = "0.8.20"

[profile.optimized]
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200

[fmt]
line_length = 120
tab_width = 4
